// Grid
// --------------------------------------------------

// Container
.container {
  padding-left: $half-gutter-width;
  padding-right: $half-gutter-width;
  margin-bottom: 1em;

  @include media($large) {
    padding-left: $half-gutter-width-l;
    padding-right: $half-gutter-width-l;
    margin-bottom: 1em;
  }
}

.container--flush {
  .row {
    margin-bottom: 0;
  }

  .item {
    padding: 0;
  }
}

// Containers with borders
.container--has-border {
  border-bottom: $base-border;
}
// }

// Row
.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  max-width: $max-width;
  margin: 0 auto;

  @include media($medium) {
    flex-direction: row;
  }
}

.row--flush {
  max-width: 100%;

  @include media($xs) {
    max-width: $max-width;
  }
}

// Items
.item {
  flex: 1;

  display: block;
  min-width: 1px; // Fix weird wrapping issues
  padding: 0 $half-gutter-width; // Column spacing
  margin-bottom: $gutter-width;

  @include media($large) {
    padding: 0 $half-gutter-width-l;
    margin-bottom: $gutter-width-l;
  }
}

.item--flex {
  display: flex;
}

.item--half {
  max-width: 100%;

  @include media($medium) {
    flex-basis: 50%;
    max-width: 50%;
  }
}

.item--quarter {
  flex-basis: 50%;
  max-width: 50%;

  @include media($medium) {
    flex-basis: 25%;
    max-width: 25%;
  }
}

.item--third {
  max-width: 100%;

  @include media($medium) {
    flex-basis: 33.3333%;
    max-width: 33.3333%;
  }
}

.item--twothirds {
  max-width: 100%;

  @include media($medium) {
    flex-basis: 66.6666%;
    max-width: 66.6666%;
  }
}

.item--45 {
  max-width: 100%;
  flex-basis: 100%;

  @include media($medium) {
    flex-basis: 45%;
    max-width: 45%;
  }
}

.item--55 {
  width: 100%;
  flex-basis: 100%;

  @include media($medium) {
    flex-basis: 55%;
    max-width: 55%;
  }
}

.item--max-width {
  max-width: $item-max-width;
}

.item--no-margin {
  margin-bottom: 0;
}
